@charset "UTF-8";
/* Desktop */
/* Loader */
.container {
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-animation: loadfond 3s ease 1.5s both;
  animation: loadfond 3s ease 1.5s both;
}

.load {
  border-radius: 50px;
  border: 5px solid transparent;
  display: inline-block;
  position: relative;
  right: 5px;
  left: 5px;
  top: 5px;
  bottom: 5px;
  border-radius: 50px;
  width: 50px;
  height: 50px;
  border-top-color: #9356DC;
  border-bottom-color: #9356DC;
  border-right-color: #FF79DA;
  border-left-color: #FF79DA;
  -webkit-animation: spin 2s ease-in-out infinite;
  animation: spin 2s ease-in-out infinite;
}

@-webkit-keyframes loadfond {
  from {
    opacity: 1;
    z-index: 3;
  }
  to {
    opacity: 0;
    z-index: -2;
  }
}

@keyframes loadfond {
  from {
    opacity: 1;
    z-index: 3;
  }
  to {
    opacity: 0;
    z-index: -2;
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes apparition {
  from {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(1rem);
    transform: translateY(1rem);
    opacity: 1;
  }
}

@keyframes apparition {
  from {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(1rem);
    transform: translateY(1rem);
    opacity: 1;
  }
}

/* Position flex */
.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

/* Général */
body {
  font-family: Roboto;
  border: none;
  margin: 0px;
}

a {
  text-decoration: none;
}

/*Header*/
header {
  border-bottom: solid lightgrey 1px;
}

.header__logo {
  margin-top: 20px;
  margin-bottom: 20px;
}

.imagebg {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 15.66rem;
}

.imagebg_r2 {
  height: 35%;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  z-index: 0;
  position: fixed;
}

/* Localisation */
.acceuil__localisation {
  background: #EAEAEA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  border: none;
  padding: 20px 0px 20px 0px;
  -webkit-box-shadow: 0px 5px 10px lightgray;
  box-shadow: 0px 5px 10px lightgray;
}

.acceuil__localisation .search {
  font-family: Roboto, sans-serif;
  border: none;
  padding-left: 3%;
  outline: none;
  color: #414141;
  background: #EAEAEA;
  font-size: 16px;
}

/*Explorer nos resraurants*/
.explorer {
  background: #F6F6F6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.explorer__titre {
  font-size: 25px;
  margin-bottom: 0px;
}

.explorer__presentation {
  font-weight: lighter;
  margin-bottom: 30px;
  font-size: 20px;
}

.explorer__btn {
  text-align: center;
  margin-bottom: 50px;
  width: 20%;
  cursor: pointer;
  border: lightgray;
  border-radius: 20px 20px 20px 20px;
  -webkit-box-shadow: 0px 2px 5px 1px lightgrey;
  box-shadow: 0px 2px 5px 1px lightgrey;
  padding: 15px;
  border: 1px;
  font-family: Roboto;
  color: white;
  background: -webkit-gradient(linear, right bottom, left top, color-stop(20%, #9356DC), to(#FF79DA));
  background: linear-gradient(to top left, #9356DC 20%, #FF79DA);
}

/*Fonctionnement */
.fct__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.index__titre {
  font-size: 25px;
  margin-top: 30px;
  padding-top: 45px;
  font-family: Roboto;
  position: relative;
  margin-left: 45px;
}

.fct__choix {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.fct__btn1 {
  border: lightgray;
  border-radius: 20px 20px 20px 20px;
  -webkit-box-shadow: 0px 2px 5px 1px lightgrey;
  box-shadow: 0px 2px 5px 1px lightgrey;
  font-family: Roboto;
  padding: 20px;
  margin-bottom: 15px;
  background: #f6f6f6;
  width: 20rem;
  z-index: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.fct__btn1:hover {
  background: #F5EDFF;
}

.fct__btn1:hover > .fa-mobile-alt {
  color: #9356DC;
}

.fct__btn1:hover > .fa-list-ul {
  color: #9356DC;
}

.fct__btn1:hover > .fa-store {
  color: #9356DC;
}

.fct__num1, .fct__num2, .fct__num3 {
  background: #9356DC;
  border-radius: 50%;
  color: white;
  padding: 5px 10px;
  position: unset;
  z-index: 2;
  left: 0px;
  margin-right: -20px;
  margin-top: 0rem;
}

.fa-mobile-alt, .fa-list-ul, .fa-store {
  color: #7a7a7a;
  margin-right: 20px;
  font-size: 20px;
}

/* Restaurants */
.resto {
  background: #F6F6F6;
  padding-bottom: 3rem;
}

.resto .resto__bloc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.resto .resto__nom, .resto .resto__location {
  color: black;
  margin-left: 1rem;
  margin-top: 0px;
}

.resto .resto__nom {
  padding-top: 10px;
  margin-bottom: 0px;
}

.resto .resto__location {
  margin-top: 5px;
  font-weight: lighter;
  margin-bottom: 0px;
}

.resto .resto__plat {
  background: white;
  margin-top: 3%;
  border-radius: 25px;
  -webkit-box-shadow: 0px 5px 10px lightgray;
  box-shadow: 0px 5px 10px lightgray;
  width: 330px;
  margin-bottom: 10px;
  position: relative;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.resto .resto__plat:hover {
  -webkit-transform: scale(1.06);
  transform: scale(1.06);
}

.resto .resto__plat__img {
  width: 330px;
  height: 180px;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 25px 25px 0px 0px;
}

.resto .resto__info {
  text-align: initial;
}

.resto .resto__new {
  background: #99E2D0;
  border: none;
  border-radius: 2px;
  color: #278870;
  font-size: 16px;
  padding: 0.3em 0.8em;
  position: absolute;
  right: 2rem;
  margin-top: 1rem;
}

.resto__coeur {
  position: relative;
  top: 5.4rem;
}

/* Pages restaurants */
/*Header*/
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  border-bottom: solid lightgrey 1px;
  -webkit-box-shadow: 0px 5px 10px lightgray;
  box-shadow: 0px 5px 10px lightgray;
}

.header .header__logo {
  margin: 5% 0%;
}

i.fas.fa-arrow-left {
  position: relative;
  left: -5rem;
  font-size: 20px;
  opacity: 1;
  color: black;
  top: 0rem;
}

.resto__titre {
  font-family: Shrikhand;
  margin-bottom: 0px;
  position: absolute;
  margin-left: 2rem;
  margin-top: 1rem;
}

/*Corps*/
.corps {
  background: #f6f6f6;
  border-radius: 45px 45px 0px 0px;
  z-index: 1;
  position: relative;
  margin-top: 0rem;
}

@-webkit-keyframes circle {
  to {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  from {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

@keyframes circle {
  to {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  from {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

.checkbox {
  height: 2px;
  position: relative;
  bottom: 3rem;
  right: 2rem;
}

.fa-check-circle {
  font-size: 20px;
  color: white;
  background-color: #99E2D0;
  width: 5%;
  height: 26px;
  padding: 16px;
  margin-bottom: 9px;
  border-radius: 0px 20px 20px 0px;
  position: relative;
  left: 21.6rem;
  text-align: center;
  opacity: 0;
}

.fa-check-circle:hover {
  animation: check 1s 0.5s reverse forwards;
}

.menu__titre__plats {
  font-size: 16px;
  margin-left: 2rem;
  border-bottom: #99E2D0 solid 2px;
  width: 2.5rem;
  padding-bottom: 5px;
  margin-bottom: 0px;
  margin-top: 35px;
}

.menu .menu__titre {
  font-size: 16px;
  margin-left: 2rem;
  border-bottom: #99E2D0 solid 2px;
  width: 2.5rem;
  padding-bottom: 5px;
  margin-bottom: 0px;
  margin-top: 75px;
}

.menu .menubloc {
  background: white;
  border: lightgray;
  border-radius: 20px 20px 20px 20px;
  -webkit-box-shadow: 0px 2px 5px 1px lightgrey;
  box-shadow: 0px 2px 5px 1px lightgrey;
  -webkit-box-shadow: 0px 5px 10px lightgray;
  box-shadow: 0px 5px 10px lightgray;
  width: 90%;
  margin-left: 17px;
  margin-right: 0px;
  margin-top: 10px;
  padding: 8px 8px 8px 0px;
  animation: checkbox 1s 0.5s forwards;
  -webkit-animation: apparition 1s both;
  animation: apparition 1s both;
  overflow: hidden;
  /* &.menubloc__1
	  {
		animation: apparition 1s both;
	  }
	  &.menubloc__2
	  {
		animation: apparition 2s both;
	  }
	  &.menubloc__3
	  {
		animation: apparition 3s both;
	  }
	  */
}

.menu .menubloc:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.301);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.301);
}

.menu .menubloc > h2 {
  font-size: 16px;
  font-weight: bolder;
  margin-left: 1rem;
  margin-bottom: 0px;
  margin-top: 0px;
}

.menu .menu__ligne2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 5px;
}

.menu .menu__presentation {
  font-size: 14px;
  margin-left: 1rem;
}

.menu .menu__prix {
  font-size: 14px;
  margin-right: 10px;
}

.menu_btn {
  text-align: center;
  margin-bottom: 50px;
  width: 50%;
  cursor: pointer;
  border: lightgray;
  border-radius: 20px 20px 20px 20px;
  -webkit-box-shadow: 0px 2px 5px 1px lightgrey;
  box-shadow: 0px 2px 5px 1px lightgrey;
  padding: 15px;
  border: 1px;
  font-family: Roboto;
  color: white;
  background: -webkit-gradient(linear, right bottom, left top, color-stop(20%, #9356DC), to(#FF79DA));
  background: linear-gradient(to top left, #9356DC 20%, #FF79DA);
  position: relative;
  left: 7rem;
  margin-bottom: 7rem;
  top: 4rem;
}

/* Coeur */
@-webkit-keyframes coeur {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes coeur {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.coeur__1 {
  position: relative;
  font-size: 25px;
  left: 17rem;
  bottom: 3rem;
  font-weight: lighter;
}

.coeur__2 {
  position: relative;
  font-size: 25px;
  opacity: 0;
  left: 244px;
  bottom: 3rem;
  display: inline;
}

.coeur__2:hover {
  -webkit-animation: coeur 1s both;
  animation: coeur 1s both;
  cursor: pointer;
  background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  background: linear-gradient(to bottom, #9356DC 0%, #FF79DA 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* coeur resto */
.resto__coeur {
  position: relative;
  margin-left: 5rem;
  top: 5.6rem;
}

/* Footer */
footer {
  background: #414141;
  padding: 25px;
}

footer .footer__titre {
  color: white;
  font-size: 20px;
  font-family: Shrikhand;
  margin-top: 0px;
}

footer .footer_p {
  color: white;
  font-size: 16px;
}

footer .fa-utensils, footer .fa-hands-helping {
  margin-right: 15px;
}

@media screen and (max-width: 480px) {
  /* Variable */
  /* Keyframes */
  @-webkit-keyframes apparition {
    from {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 0;
    }
    to {
      -webkit-transform: translateY(1rem);
              transform: translateY(1rem);
      opacity: 1;
    }
  }
  @keyframes apparition {
    from {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 0;
    }
    to {
      -webkit-transform: translateY(1rem);
              transform: translateY(1rem);
      opacity: 1;
    }
  }
  /* Position flex */
  .header__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  /* Général */
  body {
    font-family: Roboto;
    border: none;
    margin: 0px;
  }
  a {
    text-decoration: none;
  }
  /*Header*/
  header {
    border-bottom: solid lightgrey 1px;
  }
  .header__logo {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .imagebg {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 15.66rem;
  }
  /* Localisation */
  .acceuil__localisation {
    background: #EAEAEA;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    border: none;
    padding: 20px 0px 20px 0px;
    -webkit-box-shadow: 0px 5px 10px lightgray;
            box-shadow: 0px 5px 10px lightgray;
  }
  .acceuil__localisation .search {
    font-family: Roboto, sans-serif;
    border: none;
    padding-left: 3%;
    outline: none;
    color: #414141;
    background: #EAEAEA;
    font-size: 16px;
  }
  /*Explorer nos resraurants*/
  .explorer {
    background: #F6F6F6;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .explorer__titre {
    font-size: 25px;
    margin-bottom: 0px;
  }
  .explorer__presentation {
    font-weight: lighter;
    margin-bottom: 30px;
    font-size: 20px;
  }
  .explorer__btn {
    text-align: center;
    margin-bottom: 50px;
    width: 50%;
    cursor: pointer;
    border: lightgray;
    border-radius: 20px 20px 20px 20px;
    -webkit-box-shadow: 0px 2px 5px 1px lightgrey;
            box-shadow: 0px 2px 5px 1px lightgrey;
    padding: 15px;
    border: 1px;
    font-family: Roboto;
    color: white;
    background: -webkit-gradient(linear, right bottom, left top, color-stop(20%, #9356DC), to(#FF79DA));
    background: linear-gradient(to top left, #9356DC 20%, #FF79DA);
  }
  /*Fonctionnement */
  .fct__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .index__titre {
    font-size: 25px;
    margin-top: 30px;
    padding-top: 45px;
    font-family: Roboto;
    position: relative;
    margin-left: 45px;
  }
  .fct__choix {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .fct__btn1 {
    border: lightgray;
    border-radius: 20px 20px 20px 20px;
    -webkit-box-shadow: 0px 2px 5px 1px lightgrey;
            box-shadow: 0px 2px 5px 1px lightgrey;
    font-family: Roboto;
    padding: 20px;
    margin-bottom: 15px;
    background: #f6f6f6;
    width: 20rem;
    z-index: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .fct__btn1:hover {
    background: #F5EDFF;
  }
  .fct__btn1:hover > .fa-mobile-alt {
    color: #9356DC;
  }
  .fct__btn1:hover > .fa-list-ul {
    color: #9356DC;
  }
  .fct__btn1:hover > .fa-store {
    color: #9356DC;
  }
  .fct__num1, .fct__num2, .fct__num3 {
    background: #9356DC;
    border-radius: 50%;
    color: white;
    padding: 5px 10px;
    position: unset;
    z-index: 2;
    left: 0px;
    margin-right: -20px;
    margin-top: 0rem;
  }
  .fa-mobile-alt, .fa-list-ul, .fa-store {
    color: #7a7a7a;
    margin-right: 20px;
    font-size: 20px;
  }
  /* Restaurants */
  .resto {
    background: #F6F6F6;
    padding-bottom: 3rem;
  }
  .resto .resto__bloc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .resto .resto__nom, .resto .resto__location {
    color: black;
    margin-left: 1rem;
    margin-top: 0px;
  }
  .resto .resto__nom {
    padding-top: 10px;
    margin-bottom: 0px;
  }
  .resto .resto__location {
    margin-top: 5px;
    font-weight: lighter;
    margin-bottom: 0px;
  }
  .resto .resto__plat {
    background: white;
    margin-top: 3%;
    border-radius: 25px;
    -webkit-box-shadow: 0px 5px 10px lightgray;
            box-shadow: 0px 5px 10px lightgray;
    width: 320px;
    margin-bottom: 10px;
    position: relative;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .resto .resto__plat:hover {
    -webkit-transform: scale(1.06);
            transform: scale(1.06);
  }
  .resto .resto__plat__img {
    width: 320px;
    height: 180px;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 25px 25px 0px 0px;
  }
  .resto .resto__info {
    text-align: initial;
  }
  .resto .resto__new {
    background: #99E2D0;
    border: none;
    border-radius: 2px;
    color: #278870;
    font-size: 16px;
    padding: 0.3em 0.8em;
    position: absolute;
    right: 2rem;
    margin-top: 1rem;
  }
  .resto__coeur {
    position: relative;
    top: 5.4rem;
  }
  /* Pages restaurants */
  /*Header*/
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    border-bottom: solid lightgrey 1px;
    -webkit-box-shadow: 0px 5px 10px lightgray;
            box-shadow: 0px 5px 10px lightgray;
  }
  .header .header__logo {
    margin: 5% 0%;
  }
  i.fas.fa-arrow-left {
    position: relative;
    left: -5rem;
    font-size: 20px;
    opacity: 1;
    color: black;
    top: 0rem;
  }
  .resto__titre {
    font-family: Shrikhand;
    margin-bottom: 0px;
    position: absolute;
    margin-left: 2rem;
    margin-top: 1rem;
  }
  /*Corps*/
  .corps {
    background: #f6f6f6;
    border-radius: 45px 45px 0px 0px;
    z-index: 1;
    position: relative;
    margin-top: -3rem;
  }
  @-webkit-keyframes check {
    to {
      -webkit-transform: translateX(60px);
              transform: translateX(60px);
    }
    from {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
  }
  @keyframes check {
    to {
      -webkit-transform: translateX(60px);
              transform: translateX(60px);
    }
    from {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
  }
  /*
	 @keyframes circle
	{
		to
		{
			transform: scale(0) rotate(0);
			width: 0%;
		}

		from
		{
			transform: scale(1) rotate(180deg);
			width: 10%;
		}
	}
 */
  .checkbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
    bottom: 10.9rem;
  }
  .checkbox:hover {
    -webkit-animation: checkbox 2s both;
            animation: checkbox 2s both;
  }
  .fa-check-circle {
    font-size: 20px;
    color: white;
    background-color: #99E2D0;
    width: 5%;
    height: 26px;
    padding: 16px;
    margin-bottom: 9px;
    border-radius: 0px 20px 20px 0px;
    position: relative;
    left: 21.6rem;
    text-align: center;
  }
  .menu .menu__titre {
    font-size: 16px;
    margin-left: 2rem;
    border-bottom: #99E2D0 solid 2px;
    width: 2.5rem;
    padding-bottom: 5px;
    margin-top: 75px;
    margin-bottom: 0px;
  }
  .menu .menubloc {
    background: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border: lightgray;
    border-radius: 20px 20px 20px 20px;
    -webkit-box-shadow: 0px 2px 5px 1px lightgrey;
            box-shadow: 0px 2px 5px 1px lightgrey;
    -webkit-box-shadow: 0px 5px 10px lightgray;
            box-shadow: 0px 5px 10px lightgray;
    width: 90%;
    margin-left: 17px;
    margin-right: 0px;
    margin-top: 10px;
    padding: 8px 8px 8px 0px;
    -webkit-animation: apparition 1s both;
            animation: apparition 1s both;
    overflow: hidden;
  }
  .menu .menubloc:hover {
    cursor: pointer;
    -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.301);
            box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.301);
  }
  .menu .menubloc:hover > .menu__ligne2 div .menu__prix {
    -webkit-animation: check 1s forwards;
            animation: check 1s forwards;
  }
  .menu .menu__part__1 > h2 {
    font-size: 16px;
    font-weight: bolder;
    margin-left: 1rem;
    margin-bottom: 0px;
    margin-top: 0px;
  }
  .menu .menu__ligne2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 5px;
  }
  .menu .menu__presentation {
    font-size: 14px;
    margin-left: 1rem;
  }
  .menu .menu__prix {
    font-size: 14px;
    margin-right: 10px;
  }
  .menu_btn {
    text-align: center;
    margin-bottom: 50px;
    width: 50%;
    cursor: pointer;
    border: lightgray;
    border-radius: 20px 20px 20px 20px;
    -webkit-box-shadow: 0px 2px 5px 1px lightgrey;
            box-shadow: 0px 2px 5px 1px lightgrey;
    padding: 15px;
    border: 1px;
    font-family: Roboto;
    color: white;
    background: -webkit-gradient(linear, right bottom, left top, color-stop(20%, #9356DC), to(#FF79DA));
    background: linear-gradient(to top left, #9356DC 20%, #FF79DA);
    position: relative;
    left: 7rem;
    margin-bottom: 7rem;
    top: 4rem;
  }
  .check:hover {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  /* Coeur */
  @-webkit-keyframes coeur {
    from {
      opacity: 0;
      -webkit-transform: scale(0);
              transform: scale(0);
    }
    to {
      opacity: 1;
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes coeur {
    from {
      opacity: 0;
      -webkit-transform: scale(0);
              transform: scale(0);
    }
    to {
      opacity: 1;
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  .coeur__1 {
    position: relative;
    font-size: 25px;
    left: 17rem;
    bottom: 3rem;
    font-weight: lighter;
  }
  .coeur__2 {
    position: relative;
    font-size: 25px;
    opacity: 0;
    left: 244px;
    bottom: 3rem;
    display: inline;
  }
  .coeur__2:hover {
    -webkit-animation: coeur all 1s both;
            animation: coeur all 1s both;
    cursor: pointer;
    background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
    background: linear-gradient(to bottom, #9356DC 0%, #FF79DA 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  /* coeur resto */
  .resto__coeur {
    position: relative;
    margin-left: 5rem;
    top: 5.6rem;
  }
  /* Footer */
  footer {
    background: #414141;
    padding: 25px;
  }
  footer .footer__titre {
    color: white;
    font-size: 20px;
    font-family: Shrikhand;
    margin-top: 0px;
  }
  footer .footer_p {
    color: white;
    font-size: 16px;
  }
  .fa-utensils, .fa-hands-helping {
    margin-right: 15px;
  }
}
/*# sourceMappingURL=style.css.map */