/* Variables */
@import "../Utils/variable";
/* Mixins */
@import "../Utils/mixin";
/* Keyframes*/
@import "../Utils/keyframes";


									/* ------Desktop------ */


/* Loader */
.container
{
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 0.5);
	position: absolute;
	z-index: 3;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-animation: loadfond 3s ease 1.5s both;
	animation: loadfond 3s ease 1.5s both;
}

.load
{
	border-radius: 50px;
	border: 5px solid transparent;
	display: inline-block;
	position: relative;
	right: 5px;
	left: 5px;
	top: 5px;
	bottom: 5px;
	border-radius: 50px;
	width: 50px;
	height: 50px;
	border-top-color: $primaire;
	border-bottom-color: $primaire;
	border-right-color:$secondaire;
	border-left-color: $secondaire;
	-webkit-animation: spin 2s ease-in-out infinite;
	animation: spin 2s ease-in-out infinite;
}



/* Position flex */
.header__logo
{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	text-align: center;
}

/* Général */
body
{
	font-family: $texte;
	border: none;
	margin: 0px;
}

a
{
	text-decoration: none;
}

/*Header*/
header
{
	border-bottom: solid lightgrey 1px;
}

.header__logo
{
	margin-top: 20px;
	margin-bottom: 20px;
}

.imagebg
{
	object-fit: cover;
	width: 100%;
	height: 15.66rem;
}



/* Localisation */
.acceuil__localisation
{
	background: #EAEAEA;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	text-align: center;
	border: none;
	padding: 20px 0px 20px 0px;
	-webkit-box-shadow: 0px 5px 10px lightgray;
	box-shadow: 0px 5px 10px lightgray;
}

.acceuil__localisation .search
{
	font-family: $texte, sans-serif;
	border: none;
	padding-left: 20px;
	outline: none;
	color: #414141;
	background: #EAEAEA;
	font-size: 16px;
}

/*Explorer nos resraurants*/
.explorer
{
	background: #F6F6F6;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	text-align: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

.explorer__titre
{
	font-size: 25px;
	margin-bottom: 0px;
}

.explorer__presentation
{
	font-weight: lighter;
	margin-bottom: 30px;
	font-size: 20px;
}

.explorer__btn
{
	text-align: center;
	margin-bottom: 50px;
	width: 20%;
	cursor: pointer;
	@include radius;
	padding: 15px;
	border: 1px;
	font-family: $texte;
	color: white;
	background: -webkit-gradient(linear, right bottom, left top, color-stop(20%, #9356DC), to(#FF79DA));
	background: linear-gradient(to top left, #9356DC 20%, #FF79DA);
}

/*Fonctionnement */
.fct__btn
{
	@include position-flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.index__titre
{
	font-size: 25px;
	margin-top: 30px;
	padding-top: 45px;
	font-family: $texte;
	position: relative;
	text-align: center;
}

.fct__choix
{
	
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin-left: 10px;
	flex-wrap: wrap;
}

.fct__btn1
{
	@include radius;
	font-family: $texte;
	padding: 20px;
	margin-bottom: 15px;
	margin-top: 20px;
	background: #f6f6f6;
	width: 20rem;
	z-index: 0;
	transition: 0.3s;
}

.fct__btn1:hover
{
	background: #F5EDFF;
}

.fct__btn1:hover > .fa-mobile-alt
{
	color: #9356DC;
}

.fct__btn1:hover > .fa-list-ul
{
	color: #9356DC;
}

.fct__btn1:hover > .fa-store
{
	color: #9356DC;
}

.fct__num1, .fct__num2, .fct__num3
{
	background: #9356DC;
	border-radius: 50%;
	color: white;
	padding: 5px 10px;
	position: unset;
	z-index: 2;
	left: 0px;
	margin-right: -20px;
	margin-top: 0rem;
}

.fa-mobile-alt, .fa-list-ul, .fa-store
{
	color: #7a7a7a;
	margin-right: 20px;
	font-size: 20px;
}

/* Restaurants */
.resto
{
	background: #F6F6F6;
	padding-bottom: 3rem;
}

.resto .resto__bloc
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.resto .resto__nom, .resto .resto__location
{
	color: black;
	margin-left: 1rem;
	margin-top: 0px;
}

.resto .resto__nom
{
	padding-top: 10px;
	margin-bottom: 0px;
}

.resto .resto__location
{
	margin-top: 5px;
	font-weight: lighter;
	margin-bottom: 0px;
}

.resto .resto__plat
{
	background: white;
	margin-top: 3%;
	border-radius: 25px;
	box-shadow: 0px 5px 10px lightgray;
	width: 330px;
	margin-bottom: 10px;
	position: relative;
	transition: 0.5s;
}

.resto .resto__plat:hover
{
	transform: scale(1.06);
}

.resto .resto__plat__img
{
	width: 330px;
	height: 180px;
	object-fit: cover;
	border-radius: 25px 25px 0px 0px;
}

.resto .resto__info
{
	text-align: initial;
}

.resto .resto__new
{
	background: #99E2D0;
	border: none;
	border-radius: 2px;
	color: #278870;
	font-size: 16px;
	padding: 0.3em 0.8em;
	position: absolute;
	right: 1rem;
	margin-top: 1rem;
}

/* Pages restaurants */
/*Header*/
.header
{
	
	display: flex;
	align-items: center;
	text-align: center;
	border-bottom: solid lightgrey 1px;
	box-shadow: 0px 5px 10px lightgray;
}

.header .header__logo
{
	margin: 20px;
}

i.fas.fa-arrow-left
{
	position: relative;
	right: 25rem;
	font-size: 20px;
	opacity: 1;
	color: black;
	top: 0rem;
}

.resto__titre
{
	font-family: $titre;
	margin-bottom: 0px;
	margin-top: 0rem;
	padding-top: 20px;
	text-align: center;
}

/*Corps*/
.corps
{
	background: #f6f6f6;
	border-radius: 45px 45px 0px 0px;
	z-index: 1;
	position: relative;
	margin-top: -3rem;
}

.menu__text{
	white-space: nowrap;
	text-overflow: clip;
	overflow: hidden;
	display: flex;
	text-align: left;
	flex-direction: column;
	font-size: 16px;
	font-family: $texte;
  }

.menu__desktop{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.checkbox{
	display: flex;
    background: $tertiaire;
    justify-content: center;
    align-items: center;
    width: 50px;
    opacity: 0;
    border-radius: 0px 20px 20px 0px;
  }
  .menubloc:hover>.checkbox{
	animation:check 1s ease-in-out forwards;
  }

.fa-check-circle
{
	color: white;
  font-size: 20px;
}

.menubloc:hover .fa-check-circle{
	transform: rotate(1turn);
	transition: 450ms 200ms ease-out;
  }


.menu__titre__plats
{
	font-size: 16px;
	margin-left: 2rem;
	border-bottom: #99E2D0 solid 2px;
	width: 2.5rem;
	padding-bottom: 5px;
	margin-bottom: 0px;
	margin-top: 35px;
}

.menu .menu__titre
{
	font-size: 16px;
	margin-left: 2rem;
	border-bottom: #99E2D0 solid 2px;
	width: 2.5rem;
	padding-bottom: 5px;
	margin-bottom: 0px;
	margin-top: 75px;
	font-weight: lighter;
}

.menu .menubloc
{
	display: flex;
  	overflow: hidden;
  	justify-content: space-between;
	background: white;
	@include radius;
	width: 100%;
	margin-left: 17px;
	margin-right: 30px;
	margin-top: 10px;
	animation: checkbox 1s 0.5s forwards;
	animation: apparition 1s both;
	&.menubloc__1
	{
		animation: apparition 1s both;
	}

	&.menubloc__2
	{
		animation: apparition 2s both;
	}

	&.menubloc__3
	{
		animation: apparition 3s both;
	}
}

.menu .menubloc:hover
{
	cursor: pointer;
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.301);
}

h2 
{
	font-size: 16px;
	font-weight: bold;
	margin-left: 1rem;
	margin-bottom: 0px;
	margin-top: 0px;
}

.menu .menu__presentation
{
	font-size: 14px;
	margin-left: 1rem;
}

.menu .menu__prix
{
	font-size: 14px;
	margin-right: 0px;
	align-self: flex-end;
	font-weight: bold;
	margin-bottom: 10px;
	font-family: $texte;
	position: absolute;
	left: 16rem;
	transition: transform 1000ms ease-out;
}
.menubloc:hover>.menu__prix{
	transform: translateX(-4.5rem);
  }


.menu_btn
{
	text-align: center;
	margin-bottom: 50px;
	width: 15%;
	cursor: pointer;
	border: lightgray;
	border-radius: 20px 20px 20px 20px;
	-webkit-box-shadow: 0px 2px 5px 1px lightgrey;
	box-shadow: 0px 2px 5px 1px lightgrey;
	padding: 15px;
	border: 1px;
	font-family: $texte;
	color: white;
	background: -webkit-gradient(linear, right bottom, left top, color-stop(20%, #9356DC), to(#FF79DA));
	background: linear-gradient(to top left, #9356DC 20%, #FF79DA);
}
.btn__commande{
	display: flex;
	justify-content: center;
	margin-top: 65px;
}
/* Coeur */

.coeur__1
{
	position:relative;
	font-size: 25px;
	left: 18rem;
	bottom: 3rem;
	font-weight: lighter;
}

.coeur__2
{
	position: relative;
	font-size: 25px;
	opacity: 0;
	left: 259px;
	bottom: 3rem;
	display: inline;
		&:hover
		{
			animation: coeur 1s ease-in-out both;
			cursor: pointer  ;
			background: linear-gradient(to bottom, $primaire 0%,$secondaire 100%);
			-webkit-background-clip : text;
			-webkit-text-fill-color:transparent;
		}

}

.coeur__2--r{
	position: relative;
	font-size: 25px;
	opacity: 0;
	left: 263px;
	bottom: 3rem;
	display: inline;
		&:hover
		{
			animation: coeur 1s ease-in-out both;
			cursor: pointer  ;
			background: linear-gradient(to bottom, $primaire 0%,$secondaire 100%);
			-webkit-background-clip : text;
			-webkit-text-fill-color:transparent;
		}

}

/* coeur resto */
.resto__coeur
{
	display: flex;
	justify-content: center;
}

/* Footer */
footer
{
	
	background: #414141;
	padding: 25px;
	text-align: center;
}

footer .footer__titre
{
	color: white;
	font-size: 20px;
	font-family: Shrikhand;
	margin-top: 0px;
	margin-bottom: 10px;
}

.footer__text{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}
footer .footer_p
{
	color: white;
	font-size: 16px;
}

footer .fa-utensils, footer .fa-hands-helping
{
	margin-right: 15px;
}

							/*---- Mobile -----*/

@media screen and (max-width:480px)
{
	/* Position flex */
	.header__logo
	{
		@include position-flex;
	}

	/* Général */
	body
	{
		font-family: $texte;
		border: none;
		margin:0px;
	}

	a
	{
		text-decoration: none;
	}

	/*Header*/
	header
	{
		border-bottom: solid lightgrey 1px;
	}

	.header__logo
	{
		margin-top: 20px;
		margin-bottom: 20px;
	}

	.imagebg
	{
		object-fit: cover;
		width: 100%;
		height: 15.66rem;
	}

	/* Localisation */
	.acceuil__localisation
	{
		background: #EAEAEA;
		@include position-flex();
		border: none;
		padding: 20px 0px 20px 0px;
		box-shadow: $shadow;
		.search
		{
			font-family: $texte, sans-serif;
			border: none;
			padding-left: 3%;
			outline: none;
			color: #414141;
			background: #EAEAEA;
			font-size: 16px;
		}
	}

	/*Explorer nos resraurants*/
	.explorer
	{
		background: #F6F6F6;
		@include position-flex();
		flex-direction: column;
			&__titre
			{
				@include taille-police-h1();
				margin-bottom: 0px;
			}

			&__presentation
			{
				font-weight: lighter;
				margin-bottom: 30px;
				font-size: 20px;
			}
	}

	.explorer__btn
	{
		@include btn_grand();
	}

	/*Fonctionnement */
	.fct__btn
	{
		@include position-flex();
		flex-direction: column;
	}

	.index__titre
	{
		@include taille-police-h1();
		margin-top: 30px;
		padding-top: 45px;
		font-family: $texte;
		position: relative;
		margin-left: 45px;
		text-align: inherit
	}

	.fct__choix
	{
		@include position-flex();
	}

	.fct__btn1
	{
		@include radius();
		font-family: $texte;
		padding: 20px;
		margin-bottom: 15px;
		background: #f6f6f6;
		width: 19rem;
		z-index: 0;
		transition: 0.3s;
	}

	.fct__btn1:hover
	{
		background: #F5EDFF;
	}

	.fct__btn1:hover>.fa-mobile-alt
	{
		color: $primaire;
	}

	.fct__btn1:hover>.fa-list-ul
	{
		color: $primaire;
	}

	.fct__btn1:hover>.fa-store
	{
		color: $primaire;
	}

	.fct__num1, .fct__num2, .fct__num3
	{
		background: #9356DC;
		border-radius: 50%;
		color: white;
		padding: 5px 10px;
		position: unset;
		z-index: 2;
		left: 0px;
		margin-right: -20px;
		margin-top: 0rem;
	}

	.fa-mobile-alt, .fa-list-ul, .fa-store
	{
		color: #7a7a7a;
		margin-right: 20px;
		font-size: 20px;
	}

	/* Restaurants */
	.resto
	{
		background: #F6F6F6;
		padding-bottom: 3rem;
		.resto__bloc
		{
			@include position-flex();
			flex-direction: column;
		}

		.resto__nom, .resto__location
		{
			color: black;
			margin-left: $margin-corps;
			margin-top: 0px;
		}

		.resto__nom
		{
			padding-top: 10px;
			margin-bottom: 0px;
		}

		.resto__location
		{
			margin-top: 5px;
			font-weight: lighter;
			margin-bottom: 0px;
		}

		.resto__plat
		{
			background: white;
			margin-top: 3%;
			border-radius: 25px;
			box-shadow: $shadow ;
			width: $w_img;
			margin-bottom: 10px;
			position: relative;
			transition: 0.5s;
				&:hover
				{
				transform:scale(1.06)}
		}

		.resto__plat__img
		{
			width: $w_img;
			height: $h_img;
			object-fit: cover;
			border-radius:  25px 25px 0px 0px;
		}

		.resto__info
		{
			text-align: initial;
		}

	}

	/* Pages restaurants */
	/*Header*/
	.header
	{
		@include position-flex();
		border-bottom: solid lightgrey 1px;
		box-shadow: $shadow;
		.header__logo
		{
			margin: 5% 0%;
		}
	}

	i.fas.fa-arrow-left
	{
		position: relative;
		left: -3.5rem;
		font-size: 20px;
		opacity: 1;
		color: black;
		top: 0rem;
	}

	.resto__titre
	{
		font-family: $titre;
		margin-bottom: 0px;
		position: absolute;
		margin-left: 2rem;
		margin-top: 1rem;
		
	}

	/*Corps*/
	.corps
	{
		background: #f6f6f6;
		border-radius: 45px 45px 0px 0px;
		z-index: 1;
		position: relative;
		margin-top: -3rem;
	}

	.menu__desktop{
		display: unset;
	}

	.menu .menubloc.menubloc__1
	{
		width: 92%;
		margin-right: 0px;
	}

	.menu .menubloc.menubloc__2
	{
		width: 92%;
		margin-right: 0px;	}

		.menu .menubloc.menubloc__3
	{
		width: 92%;
		margin-right: 0px;	} 

	.menubloc{
		display: flex;
		overflow: hidden;
		flex-wrap: wrap;
		white-space: nowrap;
		justify-content: space-between;
		margin-right:unset;

	  }
	  
	  .menu__text{
		white-space: nowrap;
		text-overflow: clip;
		overflow: hidden;
		display: flex;
		text-align: left;
		flex-direction: column;
		font-size: 16px;
		font-family: $texte;
	  }
	  
	  h2{
		margin-bottom: 0px;
		font-size: 16px;
		white-space: nowrap;
		margin-left: 10px;
		font-family: $texte;
		margin-left: 15px;
		margin-top: 11px;
	  }
	  .menu__presentation{
		font-size: 14px;
		margin: 0px;
		font-family: $texte;
		margin-bottom: 11px;
		margin-top: 6px;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
	  }
	  
	  .menu__prix{
		align-self: flex-end;
  		font-weight: bold;
  		margin-bottom: 10px;
  		font-family: $texte;
  		position: absolute;
  		left: 16rem;
  		transition: transform 1000ms ease-out;
	  }
	  
	  .checkbox{
		display: flex;
		  background: $tertiaire;
		  justify-content: center;
		  align-items: center;
		  width: 50px;
		  opacity: 0;
		  transition-duration: 0.7s;
		  border-radius: 0px 20px 20px 0px;
	  }
	  
	  
	  .menubloc:hover>.checkbox{
		animation:check 1s ease-in-out forwards;
	  }
	  
	  .fa-check-circle{
		color: white;
		font-size: 20px;
	  }
		 
	  .menublock:hover .fa-check-circle{
		transform: rotate(1turn);
		transition: 450ms 200ms ease-out;
	  }
	  
	  
	

	.menu_btn
	{
		@include btn_grand();
		position: relative;
		left: 6.5rem;
		margin-bottom: 7rem;
		top: 4rem;
	}

	.btn__commande{
		display: unset;
	}

	/* Coeur */
	
	.coeur__1
	{
		position:relative;
		font-size: 25px;
		left: 17rem;
		bottom: 3rem;
		font-weight: lighter;
		bottom: 35px;
	}

	.coeur__2
	{
		bottom: 35px;
		position: relative;
		font-size: 25px;
		opacity: 0;
		left: 243px;
		display: inline;
		&:hover
		{
			animation: coeur 1s ease-in-out both;
			cursor: pointer  ;
			background: linear-gradient(to bottom, $primaire 0%,$secondaire 100%);
			-webkit-background-clip : text;
			-webkit-text-fill-color:transparent;
		}
	}

	/* coeur resto */
	.resto__coeur
	{
		position: relative;
		margin-left: 3rem;
		top: 5.8rem;
		display: block;
	}

	/* Footer */
	footer
	{
	background: #414141;
    padding: 25px;
	flex-direction: column;
    text-align: inherit;
    display: flex;
		.footer__titre
		{
			color: white;
			font-size: 20px;
			font-family: $titre;
			margin-top: 0px;
		}

		.footer_p
		{
			color:white;
			font-size: 16px;
			margin-bottom: 0px;
		}
		.footer__text{
			display: unset;
		}
	}

	.fa-utensils,.fa-hands-helping
	{
		margin-right: 15px;
	}
}